*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# Atom.io
.atom/packages/save-session
.atom/compile-cache
.atom/storage

# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64

# Karabiner
.config/karabiner/automatic_backups

# Runtime configs
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/completions/fisher.fish
.config/fish/completions/tide.fish
.config/fish/conf.d/_tide_init.fish
.config/fish/conf.d/z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_clean.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/__z.fish
.config/fish/functions/_tide_1_line_prompt.fish
.config/fish/functions/_tide_2_line_prompt.fish
.config/fish/functions/_tide_cache_variables.fish
.config/fish/functions/_tide_detect_os.fish
.config/fish/functions/_tide_find_and_remove.fish
.config/fish/functions/_tide_item_aws.fish
.config/fish/functions/_tide_item_character.fish
.config/fish/functions/_tide_item_chruby.fish
.config/fish/functions/_tide_item_cmd_duration.fish
.config/fish/functions/_tide_item_context.fish
.config/fish/functions/_tide_item_docker.fish
.config/fish/functions/_tide_item_git.fish
.config/fish/functions/_tide_item_go.fish
.config/fish/functions/_tide_item_java.fish
.config/fish/functions/_tide_item_jobs.fish
.config/fish/functions/_tide_item_kubectl.fish
.config/fish/functions/_tide_item_nix_shell.fish
.config/fish/functions/_tide_item_node.fish
.config/fish/functions/_tide_item_os.fish
.config/fish/functions/_tide_item_php.fish
.config/fish/functions/_tide_item_private_mode.fish
.config/fish/functions/_tide_item_rustc.fish
.config/fish/functions/_tide_item_shlvl.fish
.config/fish/functions/_tide_item_status.fish
.config/fish/functions/_tide_item_terraform.fish
.config/fish/functions/_tide_item_time.fish
.config/fish/functions/_tide_item_toolbox.fish
.config/fish/functions/_tide_item_vi_mode.fish
.config/fish/functions/_tide_item_virtual_env.fish
.config/fish/functions/_tide_print_item.fish
.config/fish/functions/_tide_pwd.fish
.config/fish/functions/_tide_remove_unusable_items.fish
.config/fish/functions/_tide_sub_bug-report.fish
.config/fish/functions/_tide_sub_configure.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fisher.fish
.config/fish/functions/tide.fish
.config/fish/functions/tide/configure/choices/all/finish.fish
.config/fish/functions/tide/configure/choices/all/icons.fish
.config/fish/functions/tide/configure/choices/all/prompt_colors.fish
.config/fish/functions/tide/configure/choices/all/prompt_connection_andor_frame_color.fish
.config/fish/functions/tide/configure/choices/all/prompt_connection.fish
.config/fish/functions/tide/configure/choices/all/prompt_spacing.fish
.config/fish/functions/tide/configure/choices/all/show_time.fish
.config/fish/functions/tide/configure/choices/all/style.fish
.config/fish/functions/tide/configure/choices/classic/classic_prompt_color.fish
.config/fish/functions/tide/configure/choices/classic/classic_prompt_separators.fish
.config/fish/functions/tide/configure/choices/lean/lean_prompt_height.fish
.config/fish/functions/tide/configure/choices/powerline/powerline_prompt_frame.fish
.config/fish/functions/tide/configure/choices/powerline/powerline_prompt_heads.fish
.config/fish/functions/tide/configure/choices/powerline/powerline_prompt_height.fish
.config/fish/functions/tide/configure/choices/powerline/powerline_prompt_tails.fish
.config/fish/functions/tide/configure/choices/rainbow/rainbow_prompt_separators.fish
.config/fish/functions/tide/configure/configs/classic_16color.fish
.config/fish/functions/tide/configure/configs/classic.fish
.config/fish/functions/tide/configure/configs/lean_16color.fish
.config/fish/functions/tide/configure/configs/lean.fish
.config/fish/functions/tide/configure/configs/rainbow_16color.fish
.config/fish/functions/tide/configure/configs/rainbow.fish
.config/fish/functions/tide/configure/functions/_fake_tide_cache_variables.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_character.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_cmd_duration.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_git.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_newline.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_os.fish
.config/fish/functions/tide/configure/functions/_fake_tide_item_time.fish
.config/fish/functions/tide/configure/functions/_fake_tide_print_item.fish
.config/fish/functions/tide/configure/functions/_fake_tide_prompt.fish
.config/fish/functions/tide/configure/functions/_fake_tide_pwd.fish
.config/nvim/plugin/packer_compiled.lua
